<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stt.cm.inter.GutestMapper">
 <resultMap type="com.stt.cm.pojo.Gutest" id="rm1">
	<result column="id" property="id"/>
	<result column="s1" property="s1"/>
	<result column="i1" property="i1"/>
	<result column="i2" property="i2"/>
</resultMap> 


	<insert id = "test" >
	insert into gutest(id,s1,i1,i2) values(1,2,3,4)
	</insert>
	<insert id="inserts" parameterType="java.util.List" >
		insert into gutest(id,s1,i1,i2) values
		<foreach collection="list" item="map" separator=",">
			(#{map.id},#{map.s1},#{map.i1},#{map.i2})
		</foreach>
	</insert>

</mapper>